* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;
    font-family: "Sen", sans-serif;
    scroll-behavior: smooth;
}

p {
    padding: 15px;
    margin: 0px;
}

.to-top {
    background: #1c49c2;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #ffffff;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

@media (max-width: 850px) {
    .to-top {
        bottom: 10px;
        right: 15px;
    }
}

/*--------------------header----------------------*/

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

header h1{
    font-size: 30px;
    padding-left: 80px;
}

.menu {
    display: none;
}

.nav-bar ul {
    display: flex;
    margin-right: 50px;
}

.nav-bar ul li {
    list-style: none;
    padding: 8px 12px;
    position: relative;
}

.nav-bar ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 5px;
    color: #000;
}

.nav-bar ul li a::after {
    content: "";
    width: 0%;
    height: 3px;
    background: #011625;
    border-radius: 30%;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-bar ul li a:hover::after {
    width: 100%;
}

@media only screen and (max-width: 850px) {
    
    header {
        padding-top: 0;
    }
    
    header h1 {
        padding-left: 20px;
    }
    
    .menu {
        display: block;
        margin-right: 20px;
        cursor: pointer;
    }

    .menu .fa {
        font-size: 30px;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #ebebeb;
        transition: 0.3s;
        z-index: 2;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        text-align: center;
        margin: 80px auto 0 auto;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }
}

/*-------------------------------------------------*/

.header {
    min-height: 70vh;
    width: 100%;
    background: #fff;
}

.row-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.profile-pic {
    height: 350px;
    width: auto;
    border-radius: 100%;
}

.card-personal {
    height: 350px;
    width: 350px;
    padding-top: 20px;
}

.card-personal h3 {
    font-size: 40px;
    padding-left: 40px;
    font-family: "Sen", sans-serif;
    font-weight: normal;
}

.card-personal ul {
    list-style: none;
    font-size: 18px;
    font-family: sans-serif;
    padding-left: 40px;
    padding-top: 20px;
    line-height: 1.5;
}

.card-personal a {
    text-align: center;
    color: #000;
    font-size: 15px;
    text-decoration: none;
    width: 40%;
}

@media only screen and (max-width: 850px) {

    .row-header {
        padding-top: 50px;
        flex-direction: column;
    }

    .header {
        min-height: 85vh;
        width: 100%;
    }

    .card-personal {
        margin-top: 30px;
    }

}

/*--------------------------about me--------------------------------*/

.about-me {
    padding: 30px 0;
    background: #f2f2f2;
}

.about-me-text {
    width: 50%;
    margin: auto;
    text-align: left;
}

.about-me-text h1 {
    font-size: 32px;
    font-family: "Sen", sans-serif;
    padding: 50px;
    font-weight: normal;
    text-align: center;
}

.about-me-text p {
    font-size: 18px;
    font-family: "Sen", sans-serif;
    line-height: 1.6;
}

@media(max-width: 850px) {
    .about-me-text {
        width: 90%;
        margin: auto;
        text-align: left;
    }
}


/*--------------------------------offer---------------------------------------*/

.offer {
    text-align: center;
    padding-top: 50px;
    background: #fff;
}

.row-offer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.offer-col {
    text-align: left;
    flex-basis: 31%;
    background: #FFF2F2;
    border-radius: 10px;
    padding: 20px 12px;
    margin-bottom: 5%;
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
    font-weight: normal;
    line-height: 1.5;
    opacity: 90%;
    transition: 0.5s;
    box-shadow: 2px 2px #e9e9e9;
}

.offer-col:hover {
    transform: scale(1.1);
    z-index: 2;
    opacity: 100%;
}

.offer-col h3 {
    text-align: center;
}

.offer h1 {
    font-size: 32px;
    font-family: "Sen", sans-serif;
    font-weight: normal;
}

@media(max-width: 850px) {
    .row-offer {
        flex-direction: column;
    }

    .offer-col:hover {
        transform: none;
        z-index: 0;
    }
}


/*------------------------------experience------------------------------------*/

.experience {
    padding: 50px 0;
    background: #ffffff;
}

.experience h1 {
    text-align: center;
    font-size: 32px;
    font-family: "Sen", sans-serif;
    font-weight: normal;
}

.experience-row {
    padding-top: 20px;
    width: 60%;
    margin: 30px auto;
    display: flex;
}

.experience-col-1 {
    flex: 1;
    font-family: "Sen", sans-serif;
}

.experience-col-2 {
    flex: 2;
    font-family: "Sen", sans-serif;
}

.experience-col-1 h4 {
    padding-bottom: 30px;
}

.experience-col-2 h3 {
    padding-bottom: 30px;
}

.experience-col-2 ul {
    font-size: 18px;
    line-height: 1.3;
}

.button {
    margin-top: 10px;
    background-color:transparent;
	border:2px solid #000;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:Courier New;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
}

.technology-title {
    padding: 1em 0;
}

.technology-element {
    display: inline-flex;
    align-items: center;
}

.technology-logo {
    width: 2em;
    height: 2em;
}

.technology-text {
    padding: 0 5px;
}

.button:hover {
    border-color: #000;
    color: #000;
}

.key-takeaway {
    width: 60%;
    margin: auto;
}

@media(max-width: 850px) {
    .experience-row {
        flex-direction: column;
        width: 80%;
    }

    .key-takeaway {
        width: 80%;
        margin: auto;
    }

    .experience-col-2 {
        margin-top: 10px;
    }
}

/*---------------------------------------education-----------------------------------------*/

.education {
    padding: 50px 0;
    background: #f2f2f2;
}

.education h1 {
    text-align: center;
    font-size: 32px;
    font-family: "Sen", sans-serif;
    font-weight: normal;
}

.education-row {
    padding-top: 20px;
    width: 60%;
    margin: 30px auto;
    display: flex;
}

.education-col-1 {
    flex: 1;
    font-family: "Sen", sans-serif;
}

.education-col-2 {
    flex: 2;
    font-family: "Sen", sans-serif;
}

.education-col-1 h4 {
    padding-bottom: 30px;
}

.education-col-2 h3 {
    padding-bottom: 30px;
}

.education-col-2 ul {
    font-size: 18px;
    padding-left: 20px;
    line-height: 1.3;
}

@media(max-width: 850px) {
    .education-row {
        flex-direction: column;
        width: 80%;
    }
}

/*----------------------------------------skills--------------------------------------------*/

.skills {
    padding: 50px 0px 0px 0px;
    text-align: center;
    font-family: "Sen", sans-serif;
    font-weight: normal;
    background: #ffffff;
}

.skills h1 {
    font-size: 32px;
    font-family: "Sen", sans-serif;
    font-weight: normal;
    padding-bottom: 30px;
}

.skills-row {
    width: 60%;
    display: flex;
    margin: 30px auto;
    line-height: 1.5;
}

.skills-col-1 {
    flex: 1;
}

.skills-col-1 h3 {
    border: 2px solid #000;
}

.skills-col-2 {
    flex: 2;
    display: flex;
}

.skills-element {
    flex: 1;
    text-align: center;
}

.skills-level {
    flex: 1;
    text-align: center;
}

.skills p {
    margin-top: 50px;
    padding: 5px 0;
}

@media(max-width: 850px) {
    .skills-row {
        width: 80%;
        flex-direction: column;
    }

    .skills-col-2 {
        margin-top: 20px;
    }
}

/*--------------------------------footer------------------------------------*/